* {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica;

}

body {
    background: #172A3A;
    color: #aad3d3;
    
}

header {
    position: relative;
    background: black;
}

h2 {
    text-align: center;
}

#logo { 
    padding: 5px 10px;
}

#logo a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 46px;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    vertical-align: top;
}

nav a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    width: 150px;
    border-radius: 3px;
}

nav li :hover {
    background: #211081;
    color: #09BC8A;
}

 footer {
    background: url(assets/img/mountain-stars.jpg);
    padding: 100px;
    background-size: cover;
    text-align: center;
}

footer span {
    padding: 20px;
}

footer p {
    padding-top: 20px;
}

.linkedin {
    color: white;
    font-size: 50px;
}

.facebook {
    color: white;
    font-size: 50px;
}

@media screen and (max-width: 480px) {
    .facebook {
        font-size: 30px;
    }

    .linkedin {
        font-size: 30px;
    }
}
